[Unit]
Description={{app_name}} Service
After=syslog.target

[Service]
Restart=always
RuntimeMaxSec=86400
WorkingDirectory={{app_dir}}
User={{app_user}}
Group={{app_user}}

Environment=PATH={{ruby_dir}}/bin:/usr/local/bin:/usr/bin:/bin
Environment=APP_ENV=production
ExecStart={{ruby_dir}}/bin/ruby -S \
    bundle exec ruby aad-leihs-authenticator -c {{app_dir}}/config.yml

[Install]
WantedBy=multi-user.target


# vi: ft=sh
